@theme {
  --color-bg-primary: #d8ded3;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #008000;
  --secondary: #7832d9;
  --grey: #475569;

  --text-primary: #0f172a;
  --text-secondary: #008000;
  --text-tertiary: #7832d9;
  --text-grey: #475569;

  --button-text-primary: #ffffff;
  --button-bg-primary: #008000;
  --button-bg-primary-hover: #41916c;

  --border-primary: #7d7d7d;
}

.dark {
  --background: #070f22;
  --foreground: #ededed;

  --primary: #2ff801;
  --secondary: #d6baff;
  --grey: #cdc2d7;

  --text-primary: #ffffff;
  --text-secondary: #2ff801;
  --text-tertiary: #d6baff;
  --text-grey: #cdc2d7;

  --button-text-primary: #070f22;
  --button-bg-primary: #2ff801;
  --button-bg-primary-hover: #23c201;

  --border-primary: #475569;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-grey: var(--grey);

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-tertiary: var(--text-tertiary);
  --color-text-grey: var(--text-grey);

  --color-button-text-primary: var(--button-text-primary);
  --color-button-bg-primary: var(--button-bg-primary);
  --color-button-bg-primary-hover: var(--button-bg-primary-hover);

  --color-border-primary: var(--border-primary);
}
