@import "tailwindcss";
@import "./colors.css";
@import "./reset.css";
@import "./components/theme-switcher.css";
@import "./components/form-fields.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-primary: var(--font-primaryFont);
  --font-secondary: var(--font-secondaryFont);

  --breakpoint-xs: 312px;
  --breakpoint-sm: 376px;
  --breakpoint-mob: 767px;
  --breakpoint-tab: 900px;
  --breakpoint-lap: 1200px;
  --breakpoint-pc: 1440px;
}

@layer utilities {
  .content {
    @apply w-full mx-auto px-4;
    max-width: 1440px;
    @media only screen and (max-width: 1440px) {
      max-width: 1200px;
    }
  }
  .center {
    @apply flex justify-center items-center;
  }
  .center-col {
    @apply flex flex-col justify-center items-center;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primaryFont), sans-serif;
}

.h1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 120%;
  font-family: var(--font-secondaryFont), sans-serif;
}
